
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-down-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-left-dir:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */